In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import pandas as pd
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
link="https://drive.google.com/open?id=1uRkuyMI8G7tEtnArNwPl-JkVOtnj-uXT"
fluff, id = link.split('=')
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('500Cities_cleandata_ReadyForEDA.csv')
df = pd.read_csv('500Cities_cleandata_ReadyForEDA.csv')

In [0]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import BaggingClassifier

In [0]:
#Lets read in the data
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Exam/500Cities_cleandata_ReadyForEDA.csv')

In [0]:
df.head()

   Unnamed: 0 StateAbbr  ... TEETHLOST_CrudePrev                       Geolocation
0           1        CA  ...                 6.8  (38.67504943280, -121.147605753)
1           2        FL  ...                18.3  (27.90909077340, -82.7714203383)
2           3        CA  ...                 6.7  (37.87256787650, -122.274907975)
3           4        CA  ...                11.2  (38.29804246490, -122.301093331)
4           5        FL  ...                16.2  (26.15468783030, -80.2998411020)

[5 rows x 34 columns]

In [0]:
df.shape

(500, 34)

In [0]:
#Lets set the random seed to 123
np.random.seed(123)

In [0]:
#Time to shuffle our data
df = shuffle(df)

In [0]:
#Lets calculate mean of Population2010 first
median_pop = round(np.median(df['Population2010']),2)

In [0]:
print(median_pop)

106106.0

In [0]:
#Lets recode columns now based on median value
df['Population2010'] = np.where(df['Population2010'] > median_pop, '1', '0')

In [0]:
df.head()

     Unnamed: 0  ...                       Geolocation
229         230  ...  (32.51928578560, -94.7621975980)
337         338  ...  (36.28919935620, -115.088496088)
327         328  ...  (42.27568335670, -83.7311374448)
416         417  ...  (39.88385114750, -105.062645316)
306         307  ...  (27.72915883370, -97.4019095379)

[5 rows x 34 columns]

In [0]:
#Lets drop all the rows with NA values
df = df.dropna()

In [0]:
df.shape

(453, 34)

In [0]:
df.head()

     Unnamed: 0  ...                       Geolocation
229         230  ...  (32.51928578560, -94.7621975980)
337         338  ...  (36.28919935620, -115.088496088)
327         328  ...  (42.27568335670, -83.7311374448)
416         417  ...  (39.88385114750, -105.062645316)
306         307  ...  (27.72915883370, -97.4019095379)

[5 rows x 34 columns]

In [0]:
#Lets remove the geographical variables now
df = df.drop(['Unnamed: 0',
              'Geolocation', 'StateAbbr', 'PlaceName','PlaceFIPS' ], axis =1)

In [0]:
df.shape

(453, 29)

In [0]:
#Lets split the data into training and validation first
y = df['Population2010']
X = df.drop(columns='Population2010')

In [0]:
print(X.shape, y.shape)

(453, 28) (453,)

In [0]:
X.head()

     ACCESS2_CrudePrev  ...  TEETHLOST_CrudePrev
229               22.3  ...                 16.5
337               22.4  ...                 18.2
327                9.0  ...                  6.6
416               11.3  ...                 11.0
306               27.4  ...                 15.1

[5 rows x 28 columns]

In [0]:
y.head()

229    0
337    1
327    1
416    1
306    1
Name: Population2010, dtype: object

In [0]:
validation_size = 0.20
seed = 123
X_train, X_validation, y_train, y_validation = train_test_split(X, y, test_size=validation_size, random_state=seed)

In [0]:
# Spot-Check Algorithms
models = []
models.append(('GBC', GradientBoostingClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('RFC', RandomForestClassifier()))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('LR', LogisticRegression(max_iter=1000000)))
models.append(('KNN', KNeighborsClassifier()))
models.append(('NB', GaussianNB()))
models.append(('ETC', ExtraTreesClassifier()))
models.append(('BC', BaggingClassifier()))

In [0]:
# evaluate each model in turn
results = []
names = []
# store preds
from sklearn.model_selection import cross_val_predict
dwPreds = []
for name, model in models:
  kfold = KFold(n_splits=20, random_state=seed, shuffle=True)
  cv_results = cross_val_score(model, X_train, y_train, cv=kfold, scoring='accuracy')
  results.append(cv_results)
  names.append(name)
  msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
  print(msg)

GBC: 0.635234 (0.100228)
CART: 0.533772 (0.110724)
RFC: 0.579678 (0.150131)
LDA: 0.555702 (0.104777)
LR: 0.547515 (0.104390)
KNN: 0.552339 (0.124277)
NB: 0.599415 (0.097487)
ETC: 0.560819 (0.149213)
BC: 0.518860 (0.153319)

On looking at the results, we can observe that Gradient Boosting Classifier is the best one.

In [0]:
# Make predictions on validation dataset
model1 = GradientBoostingClassifier()
model1.fit(X_train, y_train)
predictions = model1.predict(X_validation)
print(accuracy_score(y_validation, predictions))
print(confusion_matrix(y_validation, predictions))
print(classification_report(y_validation, predictions))

0.4945054945054945
[[24 18]
 [28 21]]
              precision    recall  f1-score   support

           0       0.46      0.57      0.51        42
           1       0.54      0.43      0.48        49

    accuracy                           0.49        91
   macro avg       0.50      0.50      0.49        91
weighted avg       0.50      0.49      0.49        91

In [0]:
# Time for some hyperparameter tuning
#Lets get some information about parameters involved in Gradient boosting
from sklearn.model_selection import GridSearchCV
GradientBoostingClassifier().get_params()

{'ccp_alpha': 0.0,
 'criterion': 'friedman_mse',
 'init': None,
 'learning_rate': 0.1,
 'loss': 'deviance',
 'max_depth': 3,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_iter_no_change': None,
 'presort': 'deprecated',
 'random_state': None,
 'subsample': 1.0,
 'tol': 0.0001,
 'validation_fraction': 0.1,
 'verbose': 0,
 'warm_start': False}

In [0]:
#Lets assign a list of parameter values now
param_range1 = [20,30,40]
param_range2 = [4,5,6]
param_range3 = [5,6,7]

In [0]:
grid_parameters = [{
    'max_leaf_nodes': param_range2,
    'max_depth': param_range3,
    'n_estimators': param_range1
 }]

In [0]:
grid = GridSearchCV(GradientBoostingClassifier(), param_grid = grid_parameters, cv = 20, verbose = 5, n_jobs = -1)
grid.fit(X_train, y_train)

Fitting 20 folds for each of 27 candidates, totalling 540 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    1.1s
[Parallel(n_jobs=-1)]: Done 132 tasks      | elapsed:    8.4s
[Parallel(n_jobs=-1)]: Done 312 tasks      | elapsed:   20.4s
[Parallel(n_jobs=-1)]: Done 540 out of 540 | elapsed:   36.5s finished

GridSearchCV(cv=20, error_score=nan,
             estimator=GradientBoostingClassifier(ccp_alpha=0.0,
                                                  criterion='friedman_mse',
                                                  init=None, learning_rate=0.1,
                                                  loss='deviance', max_depth=3,
                                                  max_features=None,
                                                  max_leaf_nodes=None,
                                                  min_impurity_decrease=0.0,
                                                  min_impurity_split=None,
                                                  min_samples_leaf=1,
                                                  min_samples_split=2,
                                                  min_weight_fraction_leaf=0.0,
                                                  n_estimators=100,
                                                  n_iter_no_change=None,
                                                  presort='deprecated',
                                                  random_state=None,
                                                  subsample=1.0, tol=0.0001,
                                                  validation_fraction=0.1,
                                                  verbose=0, warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid=[{'max_depth': [5, 6, 7], 'max_leaf_nodes': [4, 5, 6],
                          'n_estimators': [20, 30, 40]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=5)

In [0]:
#Lets use some interesting functions that grid search provides us to find out best parameters and score associated with it
grid.best_params_

{'max_depth': 5, 'max_leaf_nodes': 6, 'n_estimators': 40}

In [0]:
grid.best_score_

0.6402046783625731